.cards-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.warn {
  align-self: center;
  margin-top: 3rem;
  color: tomato;
  text-align: center;
}

.link {
  margin-left: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: underline;
}
