.box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: max-content 300px 1fr;
}

.type {
  opacity: 0.5;
  text-align: right;
}

.title {
  padding: 1rem;
  font-size: 1.5rem;
}

.edit:hover {
  color: var(--background-color);
  background-color: var(--purple);
}

.img {
  grid-template-rows: 1 / -1;
  object-fit: fill;
}

.description {
  padding: 1rem;
  font-size: 1.2rem;
}
