.item-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.back {
  position: relative;
  justify-self: start;
  border-bottom: 2px solid transparent;
  opacity: 0.5;
  font-size: 1.5rem;
  transition: all 0.3s ease;
}

.back:hover {
  border-bottom-color: var(--green);
  opacity: 1;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: max-content 300px 1fr;
  gap: 2rem;
  height: 100%;
  padding: 1rem 3rem;
}

.type {
  opacity: 0.5;
  text-align: right;
}

.title {
  padding: 1rem;
  font-size: 1.5rem;
}

.edit:hover {
  color: var(--background-color);
  background-color: var(--purple);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  text-align: right;
}

.detail {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: left;
}

.detail div {
  color: var(--purple);
  font-weight: bold;
}

.img {
  height: 100%;
  object-fit: fill;
}

.description {
  grid-column: 1/ -1;
  font-size: 1.2rem;
}
/*
={styles.title}>{item?.name}</div>
        <div className={styles.edit}>BUTTON</div>
        <div className={styles.details}>ХАРАКТЕРИСТИКИ</div>
        <div className={styles.img}>ФОТО</div>
        <div className={styles.description}>{item?.description}</div> */
