.header {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 1.5rem;
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  gap: 2rem;
  height: 100%;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 0.7rem;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

.link:hover {
  background-color: var(--background-color-lighter);
}

.active {
  color: var(--blue);
  background-color: var(--background-color-darker);
}

.title {
  color: var(--green);
}
