.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.image {
  width: 50%;
}

.user {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  text-align: right;
}

.name,
.surname {
  font-size: 2rem;
}

.items {
  grid-column: 1/-1;
}

.logout:hover {
  background-color: var(--red);
}

.items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.items-title {
  opacity: 0.5;
}

.items-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.item div {
  height: 100px;
}

.item div {
  justify-content: start;
  gap: 0;
}

.buttons {
  display: flex;
  grid-column: 1/-1;
  justify-content: stretch;
  gap: 1rem;
  width: 100%;
}

.buttons button {
  width: 100%;
}
